body {
    background-image: url('bilder/me.jfif'); /* Pfad zum Bild */
    background-size: cover;         /* Bild wird skaliert, um den gesamten Bereich zu bedecken */
    background-position: center;    /* Bild zentrieren */
    background-repeat: no-repeat;   /* Verhindert, dass das Bild wiederholt wird */
    background-attachment: fixed;   /* Hintergrund bleibt beim Scrollen fixiert */
    color: white;  
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);            
}


header {
    background-color: #7e7e7e;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1em 0;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    display: inline;
    margin: 0 15px;
}

a {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

section {
    margin: 20px;
}

section h2 {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    margin: 10px 0;
}

section a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3f3f3f;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-radius: 5px;
}

section a:hover {
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

header {
    background-color: #7e7e7e;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin: 0 10px;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #535353;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #535353;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline;
}
